APP=mattermost
APPLE_PUSH_TOPIC=com.mattermost.Mattermost
COUNTRY=US
PROVINCE=California
LOCALITY="Palo Alto"
ORGANIZATION="Mattermost, Inc."
EMAIL=email@example.com

DIR_CSR=../certs/csr
DIR_DOWNLOADED=../certs/downloaded
